# **Summary of Workflow for Integrative approach:**


1.Based on the binding profiles for STAT1, STAT2, IRF1 and IRF9, TF-specific gene lists were prepared (e.g. STAT1-target genes).

2.The motif file containing GAS-only, ISRE-only and composite containing genes were generated (by others).

3.The integration analysis was performed using up-regulated, P-adjusted(P<0.05) genes from RNA-seq and the peaks from CHIP-seq (From: /media/dell/Elements/MAH/dhmg/beta/TFs/New_analysis). Briefly, BETA tool was run using this script (nested_all_beta.sh), followed by extraction of upregulated genes from all time points (using beta_genes.sh) and combining all files into a single one (cat *.txt | sort | uniq > IFNa_genes.txt). Then, 
the integrative gene list was initially refined by the identification of overlapping genes between the integrative list and the motif list from step 2, followed by the detection of integrative genes that are common with gene lists from step 1. Accordingly, the number of refined integrative genes were 330 and 308, in IFNa- and IFNy-treated groups, respectively. Please check "clusters.ipynb" script (Refined gene list) for the latest integrative gene list.

In [1]:
import pandas as pd
import numpy as np
import os
import glob
import fnmatch

In [2]:
# List all files in a specific directory

for (root,dirs,files) in os.walk('Peaks/final_peaks/', topdown=False):
    for name in files:
        print(os.path.join(root,name))

Peaks/final_peaks/.ipynb_checkpoints/hs_HuhWT_IFNa_IRF1_allPeaksSet_nR_topScore_10_final-checkpoint.xls
Peaks/final_peaks/allPeaksSet_nR_allAntibodies_IFNa_topScore_final.bed
Peaks/final_peaks/allPeaksSet_nR_allAntibodies_IFNa_topScore_final.txt
Peaks/final_peaks/allPeaksSet_nR_allAntibodies_IFNy_topScore.bed
Peaks/final_peaks/allPeaksSet_nR_allAntibodies_IFNy_topScore.txt
Peaks/final_peaks/hs_HuhWT_IFNa_IRF1_allPeaksSet_nR_topScore_10_final.txt
Peaks/final_peaks/hs_HuhWT_IFNa_IRF1_allPeaksSet_nR_topScore_10_final.xls
Peaks/final_peaks/hs_HuhWT_IFNa_IRF9_allPeaksSet_nR_topScore_5_final.txt
Peaks/final_peaks/hs_HuhWT_IFNa_pSTAT1_allPeaksSet_nR_topScore_20_final.txt
Peaks/final_peaks/hs_HuhWT_IFNa_pSTAT2_allPeaksSet_nR_topScore_15_final.txt
Peaks/final_peaks/hs_HuhWT_IFNy_IRF1_allPeaksSet_nR_topScore_10_final.txt
Peaks/final_peaks/hs_HuhWT_IFNy_IRF9_allPeaksSet_nR_topScore_5_final.txt
Peaks/final_peaks/hs_HuhWT_IFNy_pSTAT1_allPeaksSet_nR_topScore_20_final.txt

# Preparing the TF-specific genes (To make annotate folder)

In [3]:
# working directory for this script
!pwd

/media/dell/Elements/MAH/dhmg/beta/TFs/IDR/Networks_motifs/New_analysis

In [3]:
# List of Files in a specific directory with specific extension
# Ref: https://www.pythonpool.com/python-loop-through-files-in-directory/ 

path_of_the_directory = 'Peaks/final_peaks/'
ext = ('final.txt') # It is not allowed to use wildcards
for files in os.scandir(path_of_the_directory):
    if files.path.endswith(ext):
        print(files)

<DirEntry 'allPeaksSet_nR_allAntibodies_IFNa_topScore_final.txt'>
<DirEntry 'hs_HuhWT_IFNa_IRF1_allPeaksSet_nR_topScore_10_final.txt'>
<DirEntry 'hs_HuhWT_IFNa_IRF9_allPeaksSet_nR_topScore_5_final.txt'>
<DirEntry 'hs_HuhWT_IFNa_pSTAT1_allPeaksSet_nR_topScore_20_final.txt'>
<DirEntry 'hs_HuhWT_IFNa_pSTAT2_allPeaksSet_nR_topScore_15_final.txt'>
<DirEntry 'hs_HuhWT_IFNy_IRF1_allPeaksSet_nR_topScore_10_final.txt'>
<DirEntry 'hs_HuhWT_IFNy_IRF9_allPeaksSet_nR_topScore_5_final.txt'>
<DirEntry 'hs_HuhWT_IFNy_pSTAT1_allPeaksSet_nR_topScore_20_final.txt'>

In [46]:
# Preparing the file for annotatePeaks.pl command from homer
# This code bloc is repeated for each TF
# Another solution @ https://stackoverflow.com/questions/64479604/dataframe-to-csv-in-a-for-loop-with-different-file-names

in_dir = 'Peaks/final_peaks/'
out_dir = 'Peaks/For_homer/'

for file in os.listdir(in_dir):
    if fnmatch.fnmatch(file, 'hs*.txt'):
        print('Running {}'.format(file))
        fileBaseName = os.path.basename(file).split('.')[0]
        newFilename = '{}{}.tsv'.format(out_dir, fileBaseName)
        tf = pd.read_csv(in_dir + file, sep="\t", header=None, skiprows=[0])
        tf_bd = tf.iloc[:,0:6].copy()
        tf_bd.to_csv(newFilename, sep="\t", header=None, index=False)  
        print(type(tf_bd)); print(tf_bd.shape)

Running hs_HuhWT_IFNa_IRF1_allPeaksSet_nR_topScore_10_final.txt
<class 'pandas.core.frame.DataFrame'>
(3498, 6)
Running hs_HuhWT_IFNa_IRF9_allPeaksSet_nR_topScore_5_final.txt
<class 'pandas.core.frame.DataFrame'>
(1178, 6)
Running hs_HuhWT_IFNa_pSTAT1_allPeaksSet_nR_topScore_20_final.txt
<class 'pandas.core.frame.DataFrame'>
(3874, 6)
Running hs_HuhWT_IFNa_pSTAT2_allPeaksSet_nR_topScore_15_final.txt
<class 'pandas.core.frame.DataFrame'>
(4218, 6)
Running hs_HuhWT_IFNy_IRF1_allPeaksSet_nR_topScore_10_final.txt
<class 'pandas.core.frame.DataFrame'>
(6217, 6)
Running hs_HuhWT_IFNy_IRF9_allPeaksSet_nR_topScore_5_final.txt
<class 'pandas.core.frame.DataFrame'>
(358, 6)
Running hs_HuhWT_IFNy_pSTAT1_allPeaksSet_nR_topScore_20_final.txt
<class 'pandas.core.frame.DataFrame'>
(2796, 6)

In [47]:
%%bash

# Running Homer

for i in Peaks/For_homer/*IRF* Peaks/For_homer/*pST* ; do perl ../../../../../../homer/bin/annotatePeaks.pl $i hg38 > ${i%%_final.tsv}_genes.tsv ; done

	Peak file = Peaks/For_homer/hs_HuhWT_IFNa_IRF1_allPeaksSet_nR_topScore_10_final.tsv
	Genome = hg38
	Organism = human
	Peak/BED file conversion summary:
		BED/Header formatted lines: 3498
		peakfile formatted lines: 0
		Duplicated Peak IDs: 0

	Peak File Statistics:
		Total Peaks: 3498
		Redundant Peak IDs: 0
		Peaks lacking information: 0 (need at least 5 columns per peak)
		Peaks with misformatted coordinates: 0 (should be integer)
		Peaks with misformatted strand: 0 (should be either +/- or 0/1)

	Peak file looks good!

	Reading Positions...
	-----------------------
	Finding Closest TSS...
	Annotating:.......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	26.0	26786192	-0.251	1.538
		miRNA	0.0	97618	-0.154	0.113
		ncRNA	13.0	6998912	0.686	-2.694
		TTS	44.0	32227484	0.242	-1.895
		pseudo	1.0	2085537	-1.268	1.182
		Exon	36.0	37015031	-0.248	1.780
		Intron	1591.0	1253662019	0.136	-14.469
		Intergenic	1361.0	1631972721	-0.470	161.066
		Promoter	412.0	35774823	3.318	-601.270
		5UTR	14.0	2592085	2.226	-12.633
		snoRNA	0.0	357	-0.001	0.000
		scRNA	0.0	97	-0.000	0.000
		rRNA	0.0	25562	-0.042	0.030
	NOTE: If this part takes more than 2 minutes, there is a good chance
		your machine ran out of memory: consider hitting ctrl+C and rerunning
		the command with "-noann"
	To capture annotation stats in a file, use "-annStats <filename>" next time
	Annotating:.......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	26.0	26786192	-0.250	1.534
		Retroposon	0.0	4044155	-2.504	4.671
		RC?	0.0	59509	-0.096	0.069
		RNA	0.0	107756	-0.169	0.124
		miRNA	0.0	97618	-0.154	0.113
		ncRNA	13.0	6998912	0.686	-2.697
		TTS	44.0	32227484	0.242	-1.900
		LINE	449.0	626703751	-0.688	76.428
		srpRNA	0.0	261424	-0.380	0.302
		SINE	138.0	377075025	-1.657	155.697
		RC	0.0	359494	-0.501	0.415
		tRNA	1.0	91111	3.249	-2.304
		DNA?	1.0	422285	1.037	-0.952
		pseudo	1.0	2085537	-1.267	1.182
		DNA	131.0	98947449	0.198	-2.768
		Exon	36.0	37015031	-0.247	1.775
		Intron	1059.0	654126650	0.488	-75.075
		Intergenic	805.0	742668051	-0.091	3.881
		Promoter	412.0	35774823	3.319	-601.465
		5UTR	14.0	2592085	2.226	-12.639
		snoRNA	0.0	357	-0.001	0.000
		LTR?	0.0	1137225	-1.210	1.313
		scRNA	1.0	121379	2.836	-2.035
		CpG-Island	44.0	8917387	2.096	-32.931
		Low_complexity	19.0	5394919	1.610	-10.477
		LTR	263.0	257625099	-0.177	3.976
		Simple_repeat	39.0	33811580	-0.001	0.614
		snRNA	1.0	311793	1.475	-1.197
		Unknown	1.0	713433	0.280	-0.578
		SINE?	0.0	2674	-0.004	0.003
		Satellite	0.0	74135823	-6.471	86.627
		rRNA	0.0	199378	-0.299	0.230
	Counting Tags in Peaks from each directory...
	Organism: human
	Loading Gene Informaiton...
	Outputing Annotation File...
	Done annotating peaks file


	Peak file = Peaks/For_homer/hs_HuhWT_IFNa_IRF9_allPeaksSet_nR_topScore_5_final.tsv
	Genome = hg38
	Organism = human
	Peak/BED file conversion summary:
		BED/Header formatted lines: 1178
		peakfile formatted lines: 0
		Duplicated Peak IDs: 0

	Peak File Statistics:
		Total Peaks: 1178
		Redundant Peak IDs: 0
		Peaks lacking information: 0 (need at least 5 columns per peak)
		Peaks with misformatted coordinates: 0 (should be integer)
		Peaks with misformatted strand: 0 (should be either +/- or 0/1)

	Peak file looks good!

	Reading Positions...
	-----------------------
	Finding Closest TSS...
	Annotating:.......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	8.0	26786192	-0.381	1.249
		miRNA	0.0	97618	-0.054	0.038
		ncRNA	3.0	6998912	0.140	-0.670
		TTS	13.0	32227484	0.053	-0.724
		pseudo	0.0	2085537	-0.857	0.811
		Exon	14.0	37015031	-0.040	0.638
		Intron	449.0	1253662019	-0.119	4.422
		Intergenic	405.0	1631972721	-0.648	93.689
		Promoter	279.0	35774823	4.326	-607.820
		5UTR	7.0	2592085	2.796	-9.358
		snoRNA	0.0	357	-0.000	0.000
		scRNA	0.0	97	-0.000	0.000
		rRNA	0.0	25562	-0.014	0.010
	NOTE: If this part takes more than 2 minutes, there is a good chance
		your machine ran out of memory: consider hitting ctrl+C and rerunning
		the command with "-noann"
	To capture annotation stats in a file, use "-annStats <filename>" next time
	Annotating:.......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	8.0	26786192	-0.380	1.247
		Retroposon	0.0	4044155	-1.364	1.573
		RC?	0.0	59509	-0.033	0.023
		RNA	0.0	107756	-0.059	0.042
		miRNA	0.0	97618	-0.054	0.038
		ncRNA	3.0	6998912	0.141	-0.670
		TTS	13.0	32227484	0.054	-0.725
		LINE	112.0	626703751	-1.121	56.140
		srpRNA	0.0	261424	-0.140	0.102
		SINE	49.0	377075025	-1.581	50.835
		RC	0.0	359494	-0.189	0.140
		tRNA	1.0	91111	4.820	-3.358
		DNA?	1.0	422285	2.607	-1.888
		pseudo	0.0	2085537	-0.857	0.811
		DNA	25.0	98947449	-0.621	4.359
		Exon	14.0	37015031	-0.039	0.636
		Intron	310.0	654126650	0.286	-9.643
		Intergenic	260.0	742668051	-0.151	3.604
		Promoter	279.0	35774823	4.327	-607.960
		5UTR	7.0	2592085	2.797	-9.361
		snoRNA	0.0	357	-0.000	0.000
		LTR?	0.0	1137225	-0.528	0.442
		scRNA	0.0	121379	-0.067	0.047
		CpG-Island	17.0	8917387	2.294	-15.703
		Low_complexity	2.0	5394919	-0.068	0.430
		LTR	68.0	257625099	-0.558	8.265
		Simple_repeat	8.0	33811580	-0.716	2.384
		snRNA	0.0	311793	-0.165	0.121
		Unknown	1.0	713433	1.851	-1.418
		SINE?	0.0	2674	-0.001	0.001
		Satellite	0.0	74135823	-4.932	29.173
		rRNA	0.0	199378	-0.108	0.077
	Counting Tags in Peaks from each directory...
	Organism: human
	Loading Gene Informaiton...
	Outputing Annotation File...
	Done annotating peaks file


	Peak file = Peaks/For_homer/hs_HuhWT_IFNy_IRF1_allPeaksSet_nR_topScore_10_final.tsv
	Genome = hg38
	Organism = human
	Peak/BED file conversion summary:
		BED/Header formatted lines: 6217
		peakfile formatted lines: 0
		Duplicated Peak IDs: 0

	Peak File Statistics:
		Total Peaks: 6217
		Redundant Peak IDs: 0
		Peaks lacking information: 0 (need at least 5 columns per peak)
		Peaks with misformatted coordinates: 0 (should be integer)
		Peaks with misformatted strand: 0 (should be either +/- or 0/1)

	Peak file looks good!

	Reading Positions...
	-----------------------
	Finding Closest TSS...
	Annotating:.......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	62.0	26786192	0.174	-1.677
		miRNA	1.0	97618	2.319	-1.706
		ncRNA	18.0	6998912	0.326	-1.612
		TTS	74.0	32227484	0.162	-1.712
		pseudo	4.0	2085537	-0.098	0.555
		Exon	79.0	37015031	0.056	-0.972
		Intron	2937.0	1253662019	0.191	-46.495
		Intergenic	2546.0	1631972721	-0.396	212.086
		Promoter	475.0	35774823	2.694	-502.517
		5UTR	21.0	2592085	1.981	-15.346
		snoRNA	0.0	357	-0.001	0.001
		scRNA	0.0	97	-0.000	0.000
		rRNA	0.0	25562	-0.074	0.052
	NOTE: If this part takes more than 2 minutes, there is a good chance
		your machine ran out of memory: consider hitting ctrl+C and rerunning
		the command with "-noann"
	To capture annotation stats in a file, use "-annStats <filename>" next time
	Annotating:.......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	62.0	26786192	0.174	-1.683
		Retroposon	0.0	4044155	-3.218	8.301
		RC?	0.0	59509	-0.166	0.122
		RNA	0.0	107756	-0.288	0.221
		miRNA	1.0	97618	2.320	-1.707
		ncRNA	18.0	6998912	0.326	-1.615
		TTS	74.0	32227484	0.163	-1.718
		LINE	956.0	626703751	-0.427	60.246
		srpRNA	0.0	261424	-0.619	0.536
		SINE	296.0	377075025	-1.386	216.822
		RC	0.0	359494	-0.797	0.737
		tRNA	0.0	91111	-0.247	0.187
		DNA?	2.0	422285	1.207	-1.536
		pseudo	4.0	2085537	-0.097	0.554
		DNA	229.0	98947449	0.174	-3.322
		Exon	79.0	37015031	0.057	-0.976
		Intron	1885.0	654126650	0.490	-132.513
		Intergenic	1440.0	742668051	-0.081	4.963
		Promoter	475.0	35774823	2.694	-502.729
		5UTR	21.0	2592085	1.982	-15.354
		snoRNA	0.0	357	-0.001	0.001
		LTR?	2.0	1137225	-0.222	0.532
		scRNA	0.0	121379	-0.321	0.249
		CpG-Island	55.0	8917387	1.588	-26.480
		Low_complexity	46.0	5394919	2.055	-33.269
		LTR	468.0	257625099	-0.175	5.875
		Simple_repeat	100.0	33811580	0.528	-8.128
		snRNA	0.0	311793	-0.713	0.640
		Unknown	4.0	713433	1.451	-2.795
		SINE?	0.0	2674	-0.008	0.005
		Satellite	0.0	74135823	-7.294	153.963
		rRNA	0.0	199378	-0.495	0.409
	Counting Tags in Peaks from each directory...
	Organism: human
	Loading Gene Informaiton...
	Outputing Annotation File...
	Done annotating peaks file


	Peak file = Peaks/For_homer/hs_HuhWT_IFNy_IRF9_allPeaksSet_nR_topScore_5_final.tsv
	Genome = hg38
	Organism = human
	Peak/BED file conversion summary:
		BED/Header formatted lines: 358
		peakfile formatted lines: 0
		Duplicated Peak IDs: 0

	Peak File Statistics:
		Total Peaks: 358
		Redundant Peak IDs: 0
		Peaks lacking information: 0 (need at least 5 columns per peak)
		Peaks with misformatted coordinates: 0 (should be integer)
		Peaks with misformatted strand: 0 (should be either +/- or 0/1)

	Peak file looks good!

	Reading Positions...
	-----------------------
	Finding Closest TSS...
	Annotating:......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	6.0	25731656	0.904	-2.252
		miRNA	0.0	95811	-0.017	0.012
		ncRNA	0.0	6809716	-0.888	0.849
		TTS	1.0	30962023	-1.948	2.290
		pseudo	0.0	2020586	-0.324	0.252
		Exon	5.0	35614449	0.172	-0.784
		Intron	105.0	1204364871	-0.515	14.377
		Intergenic	102.0	1530765139	-0.903	47.749
		Promoter	136.0	34327377	4.991	-370.174
		5UTR	3.0	2477448	3.281	-5.554
		snoRNA	0.0	344	-0.000	0.000
		scRNA	0.0	97	-0.000	0.000
		rRNA	0.0	25562	-0.005	0.003
	NOTE: If this part takes more than 2 minutes, there is a good chance
		your machine ran out of memory: consider hitting ctrl+C and rerunning
		the command with "-noann"
	To capture annotation stats in a file, use "-annStats <filename>" next time
	Annotating:......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	6.0	25731656	0.905	-2.254
		Retroposon	0.0	3835289	-0.564	0.478
		RC?	0.0	55903	-0.010	0.007
		RNA	0.0	103289	-0.018	0.013
		miRNA	0.0	95811	-0.017	0.012
		ncRNA	0.0	6809716	-0.888	0.849
		TTS	1.0	30962023	-1.947	2.288
		LINE	22.0	575808742	-1.705	29.938
		srpRNA	0.0	251967	-0.045	0.031
		SINE	12.0	361433325	-1.907	20.713
		RC	0.0	346805	-0.061	0.043
		tRNA	0.0	87220	-0.016	0.011
		DNA?	0.0	399456	-0.070	0.050
		pseudo	0.0	2020586	-0.324	0.252
		DNA	8.0	94128521	-0.551	1.774
		Exon	5.0	35614449	0.173	-0.785
		Intron	70.0	630728365	-0.166	1.885
		Intergenic	64.0	710921994	-0.468	6.729
		Promoter	136.0	34327377	4.992	-370.247
		5UTR	3.0	2477448	3.282	-5.556
		snoRNA	0.0	344	-0.000	0.000
		LTR?	0.0	1084206	-0.183	0.135
		scRNA	0.0	115607	-0.021	0.014
		CpG-Island	4.0	8557238	1.908	-3.769
		Low_complexity	0.0	5147896	-0.716	0.642
		LTR	25.0	240939942	-0.263	1.625
		Simple_repeat	2.0	32030953	-0.996	1.435
		snRNA	0.0	296499	-0.052	0.037
		Unknown	0.0	684480	-0.118	0.085
		SINE?	0.0	2587	-0.000	0.000
		Satellite	0.0	69572767	-3.304	8.771
		rRNA	0.0	191312	-0.034	0.024
	Counting Tags in Peaks from each directory...
	Organism: human
	Loading Gene Informaiton...
	Outputing Annotation File...
	Done annotating peaks file


	Peak file = Peaks/For_homer/hs_HuhWT_IFNa_pSTAT1_allPeaksSet_nR_topScore_20_final.tsv
	Genome = hg38
	Organism = human
	Peak/BED file conversion summary:
		BED/Header formatted lines: 3874
		peakfile formatted lines: 0
		Duplicated Peak IDs: 0

	Peak File Statistics:
		Total Peaks: 3874
		Redundant Peak IDs: 0
		Peaks lacking information: 0 (need at least 5 columns per peak)
		Peaks with misformatted coordinates: 0 (should be integer)
		Peaks with misformatted strand: 0 (should be either +/- or 0/1)

	Peak file looks good!

	Reading Positions...
	-----------------------
	Finding Closest TSS...
	Annotating:.......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	35.0	26786192	0.031	-0.751
		miRNA	0.0	97618	-0.170	0.125
		ncRNA	17.0	6998912	0.925	-4.557
		TTS	59.0	32227484	0.518	-5.283
		pseudo	1.0	2085537	-1.415	1.368
		Exon	51.0	37015031	0.108	-1.155
		Intron	1597.0	1253662019	-0.006	0.854
		Intergenic	1357.0	1631972721	-0.621	281.777
		Promoter	727.0	35774823	3.990	-1398.045
		5UTR	30.0	2592085	3.178	-41.996
		snoRNA	0.0	357	-0.001	0.000
		scRNA	0.0	97	-0.000	0.000
		rRNA	0.0	25562	-0.046	0.033
	NOTE: If this part takes more than 2 minutes, there is a good chance
		your machine ran out of memory: consider hitting ctrl+C and rerunning
		the command with "-noann"
	To capture annotation stats in a file, use "-annStats <filename>" next time
	Annotating:.......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	35.0	26786192	0.032	-0.753
		Retroposon	0.0	4044155	-2.627	5.173
		RC?	0.0	59509	-0.106	0.076
		RNA	0.0	107756	-0.186	0.138
		miRNA	0.0	97618	-0.170	0.125
		ncRNA	17.0	6998912	0.926	-4.562
		TTS	59.0	32227484	0.518	-5.293
		LINE	306.0	626703751	-1.388	241.813
		srpRNA	0.0	261424	-0.416	0.334
		SINE	145.0	377075025	-1.733	182.090
		RC	0.0	359494	-0.546	0.460
		tRNA	0.0	91111	-0.159	0.116
		DNA?	2.0	422285	1.890	-2.278
		pseudo	0.0	2085537	-1.875	2.667
		DNA	130.0	98947449	0.040	-0.949
		Exon	51.0	37015031	0.108	-1.159
		Intron	1116.0	654126650	0.417	-58.786
		Intergenic	896.0	742668051	-0.083	3.738
		Promoter	727.0	35774823	3.991	-1398.404
		5UTR	30.0	2592085	3.179	-42.010
		snoRNA	0.0	357	-0.001	0.000
		LTR?	0.0	1137225	-1.295	1.454
		scRNA	1.0	121379	2.688	-1.940
		CpG-Island	96.0	8917387	3.074	-123.964
		Low_complexity	4.0	5394919	-0.786	1.701
		LTR	239.0	257625099	-0.462	17.259
		Simple_repeat	16.0	33811580	-1.434	13.285
		snRNA	1.0	311793	1.327	-1.113
		Unknown	2.0	713433	1.133	-1.462
		SINE?	0.0	2674	-0.005	0.003
		Satellite	0.0	74135823	-6.617	95.939
		rRNA	1.0	199378	1.972	-1.492
	Counting Tags in Peaks from each directory...
	Organism: human
	Loading Gene Informaiton...
	Outputing Annotation File...
	Done annotating peaks file


	Peak file = Peaks/For_homer/hs_HuhWT_IFNa_pSTAT2_allPeaksSet_nR_topScore_15_final.tsv
	Genome = hg38
	Organism = human
	Peak/BED file conversion summary:
		BED/Header formatted lines: 4218
		peakfile formatted lines: 0
		Duplicated Peak IDs: 0

	Peak File Statistics:
		Total Peaks: 4218
		Redundant Peak IDs: 0
		Peaks lacking information: 0 (need at least 5 columns per peak)
		Peaks with misformatted coordinates: 0 (should be integer)
		Peaks with misformatted strand: 0 (should be either +/- or 0/1)

	Peak file looks good!

	Reading Positions...
	-----------------------
	Finding Closest TSS...
	Annotating:.......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	38.0	26786192	0.027	-0.742
		miRNA	0.0	97618	-0.184	0.136
		ncRNA	18.0	6998912	0.885	-4.490
		TTS	72.0	32227484	0.682	-9.140
		pseudo	0.0	2085537	-1.966	2.905
		Exon	44.0	37015031	-0.228	1.821
		Intron	1866.0	1253662019	0.096	-9.280
		Intergenic	1491.0	1631972721	-0.608	296.159
		Promoter	669.0	35774823	3.747	-1171.008
		5UTR	20.0	2592085	2.470	-20.118
		snoRNA	0.0	357	-0.001	0.000
		scRNA	0.0	97	-0.000	0.000
		rRNA	0.0	25562	-0.050	0.036
	NOTE: If this part takes more than 2 minutes, there is a good chance
		your machine ran out of memory: consider hitting ctrl+C and rerunning
		the command with "-noann"
	To capture annotation stats in a file, use "-annStats <filename>" next time
	Annotating:.......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	38.0	26786192	0.028	-0.745
		Retroposon	0.0	4044155	-2.730	5.632
		RC?	0.0	59509	-0.115	0.083
		RNA	0.0	107756	-0.202	0.150
		miRNA	0.0	97618	-0.184	0.136
		ncRNA	18.0	6998912	0.886	-4.495
		TTS	72.0	32227484	0.683	-9.155
		LINE	337.0	626703751	-1.372	258.798
		srpRNA	0.0	261424	-0.448	0.364
		SINE	187.0	377075025	-1.489	162.933
		RC	0.0	359494	-0.585	0.500
		tRNA	0.0	91111	-0.172	0.127
		DNA?	3.0	422285	2.352	-3.821
		pseudo	0.0	2085537	-1.965	2.903
		DNA	126.0	98947449	-0.128	1.796
		Exon	44.0	37015031	-0.227	1.816
		Intron	1342.0	654126650	0.560	-122.080
		Intergenic	1000.0	742668051	-0.048	2.137
		Promoter	669.0	35774823	3.748	-1171.334
		5UTR	20.0	2592085	2.471	-20.127
		snoRNA	0.0	357	-0.001	0.000
		LTR?	0.0	1137225	-1.369	1.583
		scRNA	2.0	121379	3.566	-4.362
		CpG-Island	80.0	8917387	2.688	-84.974
		Low_complexity	5.0	5394919	-0.587	1.426
		LTR	252.0	257625099	-0.509	21.659
		Simple_repeat	19.0	33811580	-1.308	12.821
		snRNA	0.0	311793	-0.520	0.434
		Unknown	3.0	713433	1.595	-2.539
		SINE?	0.0	2674	-0.005	0.004
		Satellite	0.0	74135823	-6.738	104.458
		rRNA	1.0	199378	1.850	-1.418
	Counting Tags in Peaks from each directory...
	Organism: human
	Loading Gene Informaiton...
	Outputing Annotation File...
	Done annotating peaks file


	Peak file = Peaks/For_homer/hs_HuhWT_IFNy_pSTAT1_allPeaksSet_nR_topScore_20_final.tsv
	Genome = hg38
	Organism = human
	Peak/BED file conversion summary:
		BED/Header formatted lines: 2796
		peakfile formatted lines: 0
		Duplicated Peak IDs: 0

	Peak File Statistics:
		Total Peaks: 2796
		Redundant Peak IDs: 0
		Peaks lacking information: 0 (need at least 5 columns per peak)
		Peaks with misformatted coordinates: 0 (should be integer)
		Peaks with misformatted strand: 0 (should be either +/- or 0/1)

	Peak file looks good!

	Reading Positions...
	-----------------------
	Finding Closest TSS...
	Annotating:.......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	23.0	26786192	-0.104	0.880
		miRNA	0.0	97618	-0.124	0.090
		ncRNA	15.0	6998912	1.215	-5.893
		TTS	43.0	32227484	0.532	-4.371
		pseudo	1.0	2085537	-0.945	0.852
		Exon	42.0	37015031	0.298	-2.245
		Intron	1079.0	1253662019	-0.101	6.577
		Intergenic	1046.0	1631972721	-0.526	156.111
		Promoter	521.0	35774823	3.980	-999.035
		5UTR	26.0	2592085	3.442	-40.977
		snoRNA	0.0	357	-0.000	0.000
		scRNA	0.0	97	-0.000	0.000
		rRNA	0.0	25562	-0.034	0.024
	NOTE: If this part takes more than 2 minutes, there is a good chance
		your machine ran out of memory: consider hitting ctrl+C and rerunning
		the command with "-noann"
	To capture annotation stats in a file, use "-annStats <filename>" next time
	Annotating:.......................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	23.0	26786192	-0.104	0.878
		Retroposon	0.0	4044155	-2.244	3.733
		RC?	0.0	59509	-0.077	0.055
		RNA	0.0	107756	-0.137	0.099
		miRNA	0.0	97618	-0.124	0.090
		ncRNA	15.0	6998912	1.216	-5.897
		TTS	43.0	32227484	0.532	-4.379
		LINE	183.0	626703751	-1.660	221.094
		srpRNA	0.0	261424	-0.312	0.241
		SINE	71.0	377075025	-2.293	181.966
		RC	1.0	359494	1.592	-1.265
		tRNA	0.0	91111	-0.116	0.084
		DNA?	0.0	422285	-0.475	0.390
		pseudo	0.0	2085537	-1.549	1.925
		DNA	104.0	98947449	0.188	-2.317
		Exon	41.0	37015031	0.264	-1.981
		Intron	755.0	654126650	0.323	-25.705
		Intergenic	688.0	742668051	0.006	-0.783
		Promoter	521.0	35774823	3.981	-999.292
		5UTR	26.0	2592085	3.443	-40.989
		snoRNA	0.0	357	-0.000	0.000
		LTR?	0.0	1137225	-1.035	1.049
		scRNA	0.0	121379	-0.153	0.112
		CpG-Island	78.0	8917387	3.245	-109.533
		Low_complexity	1.0	5394919	-2.315	3.192
		LTR	238.0	257625099	0.002	-0.692
		Simple_repeat	7.0	33811580	-2.156	15.499
		snRNA	1.0	311793	1.798	-1.386
		Unknown	0.0	713433	-0.730	0.658
		SINE?	0.0	2674	-0.004	0.002
		Satellite	0.0	74135823	-6.152	69.242
		rRNA	0.0	199378	-0.244	0.184
	Counting Tags in Peaks from each directory...
	Organism: human
	Loading Gene Informaiton...
	Outputing Annotation File...
	Done annotating peaks file

In [55]:
# iterate over files, extract file name, pass to pandas logic, and change the name! 

in_dir = 'Peaks/For_homer/'
out_dir = 'Peaks/'

for file in os.listdir(in_dir):
    if fnmatch.fnmatch(file, '*genes.tsv'):
        print('Running {}'.format(in_dir + file))
        hmr = pd.read_csv(in_dir + file, sep='\t')
        hmr_g = hmr[hmr['Annotation'].str.contains("promoter|5' UTR", regex=True)]
        hmr_g = hmr_g[['Gene Name']]
        hmr_g.to_csv(out_dir + str('Homr_') + file, index=False, header=None, sep='\t')
        print("dim before: ", hmr.shape ,"\n", "dim after: ", hmr_g.shape)

Running Peaks/For_homer/hs_HuhWT_IFNa_IRF1_allPeaksSet_nR_topScore_10_genes.tsv
dim before:  (3498, 19)
 dim after:  (426, 1)
Running Peaks/For_homer/hs_HuhWT_IFNa_IRF9_allPeaksSet_nR_topScore_5_genes.tsv
dim before:  (1178, 19)
 dim after:  (286, 1)
Running Peaks/For_homer/hs_HuhWT_IFNa_pSTAT1_allPeaksSet_nR_topScore_20_genes.tsv
dim before:  (3874, 19)
 dim after:  (757, 1)
Running Peaks/For_homer/hs_HuhWT_IFNa_pSTAT2_allPeaksSet_nR_topScore_15_genes.tsv
dim before:  (4218, 19)
 dim after:  (689, 1)
Running Peaks/For_homer/hs_HuhWT_IFNy_IRF1_allPeaksSet_nR_topScore_10_genes.tsv
dim before:  (6217, 19)
 dim after:  (496, 1)
Running Peaks/For_homer/hs_HuhWT_IFNy_IRF9_allPeaksSet_nR_topScore_5_genes.tsv
dim before:  (358, 19)
 dim after:  (139, 1)
Running Peaks/For_homer/hs_HuhWT_IFNy_pSTAT1_allPeaksSet_nR_topScore_20_genes.tsv
dim before:  (2796, 19)
 dim after:  (547, 1)

In [59]:
# Optional

# Change the file names

# From: https://pynative.com/python-rename-file/

folder = 'Peaks/test1/'

# iterate all files from a directory
for file_name in os.listdir(folder):
    if file.endswith('.tsv'):
        # Construct old file name
        source = folder + file_name

        # Adding the count to the new file name and extension
        destination = folder + "Homr_" +  file_name

        # Renaming the file
        os.rename(source, destination)
    
print('All Files Renamed')

print('New Names are')

# verify the result
res = os.listdir(folder)
print(res)

All Files Renamed
New Names are
['Homr_homr_hmr_IFNa_IRF1_genes.tsv', 'Homr_homr_hmr_IFNa_IRF9_genes.tsv', 'Homr_homr_hmr_IFNa_pSTAT1_genes.tsv', 'Homr_homr_hmr_IFNa_pSTAT2_genes.tsv', 'Homr_IFNa_IRF1_genes.tsv', 'Homr_IFNa_IRF9_genes.tsv', 'Homr_IFNa_pSTAT1_genes.tsv', 'Homr_IFNa_pSTAT2_genes.tsv']

# Prepare the motif files

In [26]:
# Load the latest version of motif file

dfm = pd.read_csv("motifs_IFNag_latest.tsv", sep="\t")
print(dfm.shape); print(dfm.columns)
dfm.rename(columns={'Gene':'Symbol'}, inplace=True)
dfm.head(3)

(220, 2)
Index(['Gene', 'Motif'], dtype='object')

  Symbol      Motif
0  APOL1  composite
1  ACOT7       ISRE
2    A2M        GAS

In [5]:
# Optional

# Giving colors to Motifs
# Creating IF condition
dfm.loc[dfm['Motif'] == "composite", "motfcol"] = "blue"
dfm.loc[dfm['Motif'] == "GAS", "motfcol"] = "green"
dfm.loc[dfm['Motif'] == "ISRE", "motfcol"] = "orange"

dfm['Symbol'] = dfm['Symbol'].str.strip()
dfm.head()

  Symbol      Motif motfcol
0  APOL1  composite    blue
1  ACOT7       ISRE  orange
2    A2M        GAS   green
3  APOL2  composite    blue
4  ACSL5       ISRE  orange

# Finding Mutual genes between the integrative list & motif genes

In [4]:
# Read BETA files

## (Recommended) 1st solution using Next function and dictionary and specific names 

path, dirs, files = next(os.walk('./BETA_files/'))
print(files)

### Create empty dictionary
df_dict = {}

for i, df in enumerate(files):
    df_dict[files[i].split('.')[0]] = pd.read_csv('./BETA_files/'+files[i], sep='\t', header=None, names=['Symbol'])
    print("File name is: ", files[i])

for item in df_dict.items():
    print(item)

['IFNa_genes.txt', 'IFNy_genes.txt']
File name is:  IFNa_genes.txt
File name is:  IFNy_genes.txt
('IFNa_genes',            Symbol
0             A2M
1            AAAS
2         AADACP1
3            AASS
4           ABCA9
...           ...
2088        ZNRF2
2089       ZRANB2
2090  ZSCAN16-AS1
2091       ZSCAN2
2092       ZWILCH

[2093 rows x 1 columns])
('IFNy_genes',       Symbol
0        A2M
1       AAAS
2       AAMP
3      ABCA9
4      ABCB4
...      ...
1906   ZNRD1
1907   ZNRF2
1908  ZRANB2
1909  ZSWIM6
1910  ZWILCH

[1911 rows x 1 columns])

In [20]:
# Optional
# Read BETA files

# 2nd solution using Next function & list
# Ref: https://www.geeksforgeeks.org/read-multiple-csv-files-into-separate-dataframes-in-python/

# Assign path
path, dirs, files = next(os.walk("./BETA_files/"))
file_count = len(files)

# create empty list
dataframes_list = []

# append dfs to the list
for i in range(file_count):
    temp_df = pd.read_csv("./BETA_files/"+files[i], sep="\t", header=None, names=['Symbol'])
    print("File name is: ", files[i], "The dimension is : ", temp_df.shape)
    dataframes_list.append(temp_df)

# display dataframes or access the individual dataframes with list_of_dfs[0], list_of_dfs[1]
#for df in dataframes_list:
    #display(df)

File name is:  IFNa_genes.txt The dimension is :  (2093, 1)
File name is:  IFNy_genes.txt The dimension is :  (1911, 1)

In [24]:
# Optional
# Read BETA files

# 3rd solution using For loop & list

path = os.getcwd()
files = glob.glob(os.path.join(r'./BETA_files/', "*.txt" ))

df_list= []
for f in files:
    temp_df = pd.read_csv(f, sep="\t", header=None, names=['Symbol'])
    print('File name: ', f.split('/')[-1], 'the Dimension is: ', temp_df.shape)
    df_list.append(temp_df)

File name:  IFNa_genes.txt the Dimension is:  (2093, 1)
File name:  IFNy_genes.txt the Dimension is:  (1911, 1)

In [5]:
# load the motif file (prepared above)
# dfm
print(dfm.shape); print(dfm.columns)

(220, 2)
Index(['Symbol', 'Motif'], dtype='object')

In [7]:
# Ref: https://realpython.com/iterate-through-dictionary-python/
# The type of "value" is a dataframe

for value in df_dict.values():
    print(type(value))
    
# The type of "key" is string
for key in df_dict.keys():
    print(type(key))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'str'>

In [28]:
# Otional: when using list

for i in df_list:
    df_mrg = pd.merge(i, dfm, on='Symbol')
    df_mrg.to_csv(i)
    print(df_mrg.shape)

(217, 2)
(216, 2)

In [9]:
# Merging using dictionary

for key, value in df_dict.items():
    print('The file is: {}'.format(key))
    df_mrg = pd.merge(value, dfm, on='Symbol')  # This is merging!
    print('The dimention is: {} and the columns are : {}'.format(df_mrg.shape, df_mrg.columns))
    df_mrg.to_csv('Mrgd_' + key + '.tsv', index=False, sep='\t') # Save

The file is: IFNa_genes
The dimention is: (217, 2) and the columns are : Index(['Symbol', 'Motif'], dtype='object')
The file is: IFNy_genes
The dimention is: (216, 2) and the columns are : Index(['Symbol', 'Motif'], dtype='object')

In [ ]:
# Genes are not in the motif list 
# # To get unique values see https://stackoverflow.com/questions/23460345/selecting-unique-rows-between-two-dataframes-in-pandas
# # How to implement 'in' and 'not in' for a pandas DataFrame 
# https://stackoverflow.com/questions/19960077/how-to-filter-pandas-dataframe-using-in-and-not-in-like-in-sql

for key, value in df_dict.items():
    print('Genes that are not in motif list for {}'. format(key))
    print(dfm[~dfm['Symbol'].isin(value['Symbol'])])

In [34]:
# Load Mrgd Files

NewAna_dict = {}

path, dirs, files = next(os.walk('.'))

for i, df in enumerate(files):
    if fnmatch.fnmatch(files[i], 'Mrg*'):
        temp_df = files[i].split('.')[0]
        NewAna_dict[temp_df] = pd.read_csv(files[i], sep='\t')
        
for key, value in NewAna_dict.items():
    print('Name: {}, Size: {} \n'.format(key, value.shape))
    
    
ovlp_IFNay = pd.merge(NewAna_dict['Mrgd_IFNa_genes'], NewAna_dict['Mrgd_IFNy_genes'], how='inner', on='Symbol')

ovlp_IFNay.rename(columns={"Motif_x" : "Motif"}, inplace=True)
ovlp_IFNay = ovlp_IFNay[['Symbol', 'Motif']]
ovlp_IFNay.shape

Name: Mrgd_IFNa_genes, Size: (217, 2)

Name: Mrgd_IFNy_genes, Size: (216, 2)

(214, 2)

# Compare Old analysis with new one (This is NOT part of analysis!)

In [54]:
# Create txt files with one column

folder = 'Old_New_analysis/'

path, dirs, files = next(os.walk(folder))

for i, df in enumerate(files):
    if files[i].endswith('.tsv'):
        df_temp = pd.read_csv(folder + files[i], sep='\t')
        df_temp['Symbol'].to_csv(folder + files[i].split('.')[0] + '.txt', index=False, header=None)

In [7]:
# load old & new files 

folder = 'Old_New_analysis/'

all_dict = {}
path, dirs, files = next(os.walk(folder))

for i, df in enumerate(files):
    if files[i].endswith('.txt'):
        temp_df = files[i].split('.')[0]
        all_dict[temp_df] = pd.read_csv(folder + files[i], header=None, names=['Symbol'])
        print('Running {}'. format(files[i]))

for key, value in all_dict.items():
    print(key)
    value['Symbol'] = value['Symbol'].str.strip()

for item in all_dict.items():
    print(item)

Running Mrgd_IFNa_genes.txt
Running Mrgd_IFNy_genes.txt
Running Old_IFNa_geneList.txt
Running Old_IFNy_geneList.txt
Mrgd_IFNa_genes
Mrgd_IFNy_genes
Old_IFNa_geneList
Old_IFNy_geneList
('Mrgd_IFNa_genes',       Symbol
0        A2M
1      ACOT7
2      ACSL5
3       ACY3
4       ADAR
..       ...
212    YPEL2
213   ZC3H7B
214  ZC3HAV1
215  ZFYVE26
216    ZNF24

[217 rows x 1 columns])
('Mrgd_IFNy_genes',       Symbol
0        A2M
1      ACOT7
2      ACSL5
3       ACY3
4       ADAR
..       ...
211    YPEL2
212   ZC3H7B
213  ZC3HAV1
214  ZFYVE26
215    ZNF24

[216 rows x 1 columns])
('Old_IFNa_geneList',       Symbol
0     EPSTI1
1     ANKFY1
2      BAZ2A
3    ZC3HAV1
4      ZNF24
..       ...
325   BTN3A2
326   ZC3H7B
327    PRRG4
328    HADHB
329    CCND1

[330 rows x 1 columns])
('Old_IFNy_geneList',        Symbol
0      EPSTI1
1    TMEM126B
2     ZC3HAV1
3       ZNF24
4      RNF213
..        ...
303    SUCLG1
304   CAPRIN1
305     CCND1
306      VTA1
307      PSPH

[308 rows x 1 columns])

In [8]:
# Statistical report

# Compare all to "Mrgd_IFNa_genes"

folder = 'Old_New_analysis/Comparison/'

for key, value in all_dict.items():
    print('The file is: {}'.format(key))
    tmp = value[~value['Symbol'].isin(all_dict['Mrgd_IFNa_genes']['Symbol'])]
    display(tmp)
    #tmp.to_csv(folder + key + str('_vs_Mrgd_IFNa_genes.tsv'), sep='\t', index=False) # Save

The file is: Mrgd_IFNa_genes

Empty DataFrame
Columns: [Symbol]
Index: []

The file is: Mrgd_IFNy_genes

      Symbol
197    TLCD2
201  TP53BP1

The file is: Old_IFNa_geneList

     Symbol
1    ANKFY1
2     BAZ2A
16    SRSF4
19     CREM
21     NADK
..      ...
313  NT5C3A
316   APH1A
317  FKBP11
321    RPS8
328   HADHB

[113 rows x 1 columns]

The file is: Old_IFNy_geneList

       Symbol
1    TMEM126B
6      IL18BP
7     SULT1C2
11      ATAD5
18       NEK8
..        ...
302      PHB2
303    SUCLG1
304   CAPRIN1
306      VTA1
307      PSPH

[91 rows x 1 columns]

In [9]:
# Statistical report

# Compare all to "Mrgd_IFNy_genes"

folder = 'Old_New_analysis/Comparison/'

for key, value in all_dict.items():
    print('The file is: {}'.format(key))
    tmp = value[~value['Symbol'].isin(all_dict['Mrgd_IFNy_genes']['Symbol'])]
    display(tmp)
    #tmp.to_csv(folder + key + str('_vs_Mrgd_IFNy_genes.tsv'), sep='\t', index=False) # Save

The file is: Mrgd_IFNa_genes

     Symbol
58   EPSTI1
199  TMEM62
203  TRIM22

The file is: Mrgd_IFNy_genes

Empty DataFrame
Columns: [Symbol]
Index: []

The file is: Old_IFNa_geneList

     Symbol
0    EPSTI1
1    ANKFY1
2     BAZ2A
16    SRSF4
19     CREM
..      ...
313  NT5C3A
316   APH1A
317  FKBP11
321    RPS8
328   HADHB

[114 rows x 1 columns]

The file is: Old_IFNy_geneList

       Symbol
0      EPSTI1
1    TMEM126B
6      IL18BP
7     SULT1C2
11      ATAD5
..        ...
302      PHB2
303    SUCLG1
304   CAPRIN1
306      VTA1
307      PSPH

[92 rows x 1 columns]

In [10]:
# Statistical report

# Finding overlaps

folder = 'Old_New_analysis/Comparison/'

for key, value in all_dict.items():
    print(key)

print('*************************')

ovrlp_a = pd.merge(all_dict['Mrgd_IFNa_genes'], all_dict['Mrgd_IFNy_genes'], how='inner', on='Symbol')
print('New analysis: The size of overlaping for IFNa: ', ovrlp_a.shape, 'The size of IFNa: ', all_dict['Mrgd_IFNa_genes'].shape,
     'The size of IFNy: ', all_dict['Mrgd_IFNy_genes'].shape)
ovrlp_a.to_csv(folder + str('New_ovrlp_IFay.tsv'), sep='\t', index = False)

print('*************************')
ovrlp_y = pd.merge(all_dict['Old_IFNa_geneList'], all_dict['Old_IFNy_geneList'], how='inner', on='Symbol')
print('Old analysis: The size of overlaping for IFNa: ', ovrlp_y.shape, 'The size of IFNa: ', all_dict['Old_IFNa_geneList'].shape,
     'The size of IFNy: ', all_dict['Old_IFNy_geneList'].shape)
ovrlp_y.to_csv(folder + str('Old_ovrlp_IFay.tsv'), sep='\t', index = False)

print('*************************')
ovrlp_ay = pd.merge(ovrlp_a, ovrlp_y, how='inner', on='Symbol')
print('The overlaps between Old vs New analysis: ', ovrlp_ay.shape)

Mrgd_IFNa_genes
Mrgd_IFNy_genes
Old_IFNa_geneList
Old_IFNy_geneList
*************************
New analysis: The size of overlaping for IFNa:  (214, 1) The size of IFNa:  (217, 1) The size of IFNy:  (216, 1)
*************************
Old analysis: The size of overlaping for IFNa:  (220, 1) The size of IFNa:  (330, 1) The size of IFNy:  (308, 1)
*************************
The overlaps between Old vs New analysis:  (214, 1)

# Overlapping antibody-specific genes with the integrative list

In [35]:
## IFNa

in_dir = 'Peaks/'
out_dir = 'TFs_4_Networks/'

for file in os.listdir(in_dir):
    if fnmatch.fnmatch(file, '*IFNa*'):
        tf_tmp = pd.read_csv(in_dir + file, sep='\t', header=None, names=['Symbol'] )
        print('The file is: ', file, 'The dimension is: ', tf_tmp.shape)
        tf_tmp['Symbol'] = tf_tmp['Symbol'].str.strip()
        tf_mrg = pd.merge(ovlp_IFNay, tf_tmp, on='Symbol')  # This is merging!
        tf_mrg.drop_duplicates(subset=['Symbol'], inplace=True, ignore_index=True)
        print('After merging the size is: ', tf_mrg.shape)
        tf_mrg.to_csv(out_dir + str('Integ_') + file, sep='\t', index=False) ########SAVE

The file is:  Homr_hs_HuhWT_IFNa_IRF1_allPeaksSet_nR_topScore_10_genes.tsv The dimension is:  (426, 1)
After merging the size is:  (123, 2)
The file is:  Homr_hs_HuhWT_IFNa_IRF9_allPeaksSet_nR_topScore_5_genes.tsv The dimension is:  (286, 1)
After merging the size is:  (90, 2)
The file is:  Homr_hs_HuhWT_IFNa_pSTAT1_allPeaksSet_nR_topScore_20_genes.tsv The dimension is:  (757, 1)
After merging the size is:  (182, 2)
The file is:  Homr_hs_HuhWT_IFNa_pSTAT2_allPeaksSet_nR_topScore_15_genes.tsv The dimension is:  (689, 1)
After merging the size is:  (143, 2)

In [3]:
## IFNy

in_dir = 'Peaks/'
out_dir = 'TFs_4_Networks/'

for file in os.listdir(in_dir):
    if fnmatch.fnmatch(file, '*IFNy*'):
        tf_tmp = pd.read_csv(in_dir + file, sep='\t', header=None, names=['Symbol'] )
        print('The file is: ', file, 'The dimension is: ', tf_tmp.shape)
        tf_tmp['Symbol'] = tf_tmp['Symbol'].str.strip()
        tf_mrg = pd.merge(ovlp_IFNay, tf_tmp, on='Symbol') # This is merging!
        tf_mrg.drop_duplicates(subset=['Symbol'], inplace=True, ignore_index=True)
        print('After merging the size is: ', tf_mrg.shape)
        tf_mrg.to_csv(out_dir + str('Integ_') + file, sep='\t', index=False) #######SAVE

The file is:  Homr_hs_HuhWT_IFNy_IRF1_allPeaksSet_nR_topScore_10_genes.tsv The dimension is:  (496, 1)
After merging the size is:  (126, 2)
The file is:  Homr_hs_HuhWT_IFNy_IRF9_allPeaksSet_nR_topScore_5_genes.tsv The dimension is:  (139, 1)
After merging the size is:  (43, 2)
The file is:  Homr_hs_HuhWT_IFNy_pSTAT1_allPeaksSet_nR_topScore_20_genes.tsv The dimension is:  (547, 1)
After merging the size is:  (137, 2)

# Task: Networks

## IFNa

In [36]:

in_dir = 'TFs_4_Networks/'
out_dir = 'TFs_4_Networks/Cytoscape_files/'

In [37]:
# Create a dictionary

path, dirs, files = next(os.walk(in_dir))
Integ_dict_a = {}

for i, df in enumerate(files):
    if fnmatch.fnmatch(files[i], '*IFNa*'):
        Integ_dict_a[files[i].split('.')[0]] = pd.read_csv(in_dir + files[i], sep='\t', header=None, skiprows=[0])
        print('File name is: {}'.format(files[i]))
        
for key, value in Integ_dict_a.items():
    print(key)
    print(value.head(1))
    print(value.shape)

File name is: Integ_Homr_hs_HuhWT_IFNa_IRF1_allPeaksSet_nR_topScore_10_genes.tsv
File name is: Integ_Homr_hs_HuhWT_IFNa_IRF9_allPeaksSet_nR_topScore_5_genes.tsv
File name is: Integ_Homr_hs_HuhWT_IFNa_pSTAT1_allPeaksSet_nR_topScore_20_genes.tsv
File name is: Integ_Homr_hs_HuhWT_IFNa_pSTAT2_allPeaksSet_nR_topScore_15_genes.tsv
Integ_Homr_hs_HuhWT_IFNa_IRF1_allPeaksSet_nR_topScore_10_genes
       0     1
0  ACOT7  ISRE
(123, 2)
Integ_Homr_hs_HuhWT_IFNa_IRF9_allPeaksSet_nR_topScore_5_genes
       0     1
0  ACOT7  ISRE
(90, 2)
Integ_Homr_hs_HuhWT_IFNa_pSTAT1_allPeaksSet_nR_topScore_20_genes
       0     1
0  ACOT7  ISRE
(182, 2)
Integ_Homr_hs_HuhWT_IFNa_pSTAT2_allPeaksSet_nR_topScore_15_genes
       0     1
0  ACOT7  ISRE
(143, 2)

In [38]:
# Change the name of dictionary key
Integ_dict_a['ir1_ov_a'] = Integ_dict_a.pop('Integ_Homr_hs_HuhWT_IFNa_IRF1_allPeaksSet_nR_topScore_10_genes')
Integ_dict_a['ir9_ov_a'] = Integ_dict_a.pop ('Integ_Homr_hs_HuhWT_IFNa_IRF9_allPeaksSet_nR_topScore_5_genes')
Integ_dict_a['st1_ov_a'] = Integ_dict_a.pop('Integ_Homr_hs_HuhWT_IFNa_pSTAT1_allPeaksSet_nR_topScore_20_genes')
Integ_dict_a['st2_ov_a'] = Integ_dict_a.pop('Integ_Homr_hs_HuhWT_IFNa_pSTAT2_allPeaksSet_nR_topScore_15_genes')

for key, value in Integ_dict_a.items():
    print(key)
    print(value.head(1))
    print(value.shape)

ir1_ov_a
       0     1
0  ACOT7  ISRE
(123, 2)
ir9_ov_a
       0     1
0  ACOT7  ISRE
(90, 2)
st1_ov_a
       0     1
0  ACOT7  ISRE
(182, 2)
st2_ov_a
       0     1
0  ACOT7  ISRE
(143, 2)

# Create node files for each Ab

In [8]:
#INa ST1

columns = ["#node1", "node2"]
dfs1 = pd.DataFrame(columns=columns)
dfs1['node2'] = Integ_dict_a['st1_ov_a'][0]
dfs1['#node1'] = "STAT1"

# Saving Network File
dfs1.to_csv(out_dir + "IFNa_ST1_ov.tsv", sep="\t", index=False)

In [9]:
# IFNa ST2

columns = ["#node1", "node2"]
dfs2 = pd.DataFrame(columns=columns)
dfs2['node2'] = Integ_dict_a['st2_ov_a'][0]
dfs2["#node1"] = "STAT2"

dfs2.to_csv(out_dir + "IFNa_ST2_ov.tsv", sep="\t", index=False)

In [10]:
# IFNa IRF1

columns = ["#node1", "node2"]
dfir1 = pd.DataFrame(columns = columns)
dfir1['node2'] = Integ_dict_a['ir1_ov_a'][0]
dfir1['#node1'] = "IRF1"

dfir1.to_csv(out_dir + "IFNa_IRF1_ov.tsv", sep="\t", index=False)

In [11]:
# IFNa IRF9

columns = ["#node1", "node2"]
dfir9 = pd.DataFrame(columns=columns)
dfir9["node2"] = Integ_dict_a['ir9_ov_a'][0]
dfir9["#node1"] = "IRF9"

dfir9.to_csv(out_dir + "IFNa_IRF9_ov.tsv", index= False, sep="\t")

In [12]:
# To confrim
x = [dfs1, dfs2, dfir1, dfir9]
for i in x:
    print(i.shape)

(182, 2)
(143, 2)
(123, 2)
(90, 2)

## Different combinations of TFS for IFNa

In [39]:
from functools import reduce

In [40]:
# Creating dataframes
st1_ov_a = pd.DataFrame(data=Integ_dict_a['st1_ov_a'][0].values, columns=['symbol'])
st2_ov_a = pd.DataFrame(data=Integ_dict_a['st2_ov_a'][0].values, columns=['symbol'])
ir1_ov_a = pd.DataFrame(data=Integ_dict_a['ir1_ov_a'][0].values, columns=['symbol'])
ir9_ov_a = pd.DataFrame(data=Integ_dict_a['ir9_ov_a'][0].values, columns=['symbol'])

In [41]:
# Checking
dfs = [st1_ov_a, st2_ov_a, ir1_ov_a, ir9_ov_a]
for i in dfs:
    print(i.shape)

(182, 1)
(143, 1)
(123, 1)
(90, 1)

In [42]:
# overlapping between ST1, ST2 and IRF9

dfs = [st1_ov_a, st2_ov_a, ir9_ov_a]
isgf3 = reduce(lambda left,right: pd.merge(left,right, on="symbol"), dfs)
isgf3_only = pd.merge(isgf3, ir1_ov_a, how="left", indicator=True).loc[lambda x:x["_merge"] == "left_only"].reset_index(drop=True).iloc[:,0]
isgf3_only.shape

(9,)

In [43]:
# overlapping between ST1, ST2 and IRF1

dfs = [st1_ov_a, st2_ov_a, ir1_ov_a]
s1_2_ir1 = reduce(lambda left,right: pd.merge(left,right, on="symbol"), dfs)
s1_2_ir1_only = pd.merge(s1_2_ir1, ir9_ov_a, how="left", indicator=True).loc[lambda x:x["_merge"] == "left_only"].reset_index(drop=True).iloc[:,0]
s1_2_ir1_only.shape

(14,)

In [44]:
s1_2_ir1.shape

(94, 1)

In [45]:
# overlapping between ISGF3 and IRF1

dfs = [isgf3, ir1_ov_a]
isgf3_irf1 = reduce(lambda left,right: pd.merge(left,right, on="symbol"),dfs)
isgf3_irf1.shape

(80, 1)

In [46]:
# overlapping between ST1 and IRF1

dfs = [st1_ov_a, ir1_ov_a]
st1_ir1 = reduce(lambda left,right: pd.merge(left, right, on="symbol"), dfs)
st1_ir1_only = pd.merge(st1_ir1, st2_ov_a, how="left", indicator=True).loc[lambda x:x["_merge"] == "left_only"].iloc[:,0]
st1_ir1_only.shape

(0,)

In [47]:
# overlapping between ST2 and IRF1

dfs = [st2_ov_a, ir1_ov_a]
st2_ir1 = reduce(lambda left,right: pd.merge(left, right, on="symbol"), dfs)
st2_ir1_only = pd.merge(st2_ir1, st1_ov_a, how="left", indicator=True).loc[lambda x:x["_merge"] == "left_only"].iloc[:,0]
st2_ir1_only.shape

(5,)

In [48]:
# overlapping between ST1 & ST2 

dfs = [st1_ov_a, st2_ov_a]
st1_2 = reduce(lambda left,right: pd.merge(left, right, on="symbol"),dfs)
print(st1_2.shape)
st1_2_only = pd.merge(st1_2, ir9_ov_a, how='left', indicator=True).loc[lambda x: x['_merge'] == 'left_only'].reset_index(drop=True).iloc[:,0]
st1_2_only_1 = pd.merge(st1_2_only, ir1_ov_a, how='left', indicator=True).loc[lambda x: x['_merge'] == 'left_only'].reset_index(drop=True).iloc[:,0]
print(st1_2_only_1.shape)

(137, 1)
(34,)

In [49]:
# Finding IRF1_only genes
dfs = [st1_ov_a, st2_ov_a, ir9_ov_a]
st1_2_ir9 = reduce(lambda left,right : pd.merge(left,right, how="outer"),dfs) # Note it is "outer"

# https://stackoverflow.com/questions/48647534/python-pandas-find-difference-between-two-data-frames
ir1_only=pd.merge(ir1_ov_a, st1_2_ir9, how="left", indicator=True).loc[lambda x: x['_merge'] != 'both'].reset_index(drop=True).iloc[:,0]
ir1_only.shape

(23,)

In [50]:
# Finding ST1_only genes
dfs = [st2_ov_a, ir1_ov_a, ir9_ov_a]

st2_ir1_9 = reduce(lambda left,right: pd.merge(left,right, how="outer"), dfs)

st1_only=pd.merge(st1_ov_a, st2_ir1_9, how="left", indicator=True).loc[lambda x: x['_merge'] == "left_only"].reset_index(drop=True).iloc[:,0]
st1_only.shape

(45,)

In [51]:
# Finding ST2_only genes
dfs = [st1_ov_a, ir1_ov_a, ir9_ov_a]

st1_ir1_9 = reduce(lambda left,right: pd.merge(left,right, how="outer"), dfs)

st2_only=pd.merge(st2_ov_a, st1_ir1_9, how="left", indicator=True).loc[lambda x: x['_merge'] == "left_only"].reset_index(drop=True).iloc[:,0]
st2_only.shape

(1,)

In [52]:
# overlapping between IRF1 and IRF9

dfs = [ir1_ov_a, ir9_ov_a]
ir1_9 = reduce(lambda left, right: pd.merge(left, right, on="symbol"), dfs)
ir1_9_only = pd.merge(ir1_9, st1_ov_a, how='left', indicator=True).loc[lambda x: x['_merge'] == 'left_only'].reset_index(drop=True).iloc[:,0]
ir1_9_only.shape

(1,)

In [ ]:
######R code ###

# Create an empty plot
plot(NULL ,xaxt='n',yaxt='n',bty='n',ylab='',xlab='', xlim=0:1, ylim=0:1)
# xaxt="n" and yaxt="n" suppress the x and y axis respectively

# use legend as you would if there were a plot
legend("topleft", legend =c('ISGF3+IRF1', 'ISGF3', 'IRF1-only',
    'STAT1-STAT2', 'STAT1 homodimer', 'STAT1-IRF1'), pch=16, pt.cex=3, cex=1.5, bty='n',
    col = c('#FA8072', '#ADFF2F', '#40E0D0', '#FF0000', '#DAA520', '#FFD700'))
mtext("Gene targets", at=0.2, cex=2)

# Generating Style Table _ IFNa

In [54]:
# Preparing the colour table 
# Colours From: https://betterfigures.org/2015/06/23/picking-a-colour-scale-for-scientific-graphics/

#1
columns = ["symbol", "col", "Target"]
df_isgf3_irf1 = pd.DataFrame(columns=columns)
df_isgf3_irf1['symbol'] = isgf3_irf1
df_isgf3_irf1['col'] = "#ffadad"
df_isgf3_irf1['Target'] = "STAT1+STAT2+IRF9+IRF1"

#2
#columns = ["symbol", "col", "Target"]
#df_s1_2_ir1_only = pd.DataFrame(columns=columns)
#df_s1_2_ir1_only['symbol'] = s1_2_ir1_only
#df_s1_2_ir1_only['col'] = "#99d8c9"
#df_s1_2_ir1_only['Target'] = "STAT1 + STAT2 + IRF1"

#3
columns = ["symbol", "col", "Target"]
df_isgf3_only = pd.DataFrame(columns=columns)
df_isgf3_only['symbol'] = isgf3_only
df_isgf3_only['col'] = "#ffd6a5"
df_isgf3_only['Target'] = "STAT1 + STAT2 + IRF9"

#4
columns = ["symbol", "col", "Target"]
df_ir1_only = pd.DataFrame(columns=columns)
df_ir1_only['symbol'] = ir1_only
df_ir1_only['col'] = "#fdffb6"
df_ir1_only['Target'] = "IRF1"

#5
columns = ["symbol", "col", "Target"]
df_st1_2_only_1 = pd.DataFrame(columns=columns)
df_st1_2_only_1['symbol'] = st1_2_only_1
df_st1_2_only_1['col'] = "#caffbf"
df_st1_2_only_1['Target'] = "STAT1 + STAT2"

#6
columns = ["symbol", "col", "Target"]
df_st1_only = pd.DataFrame(columns=columns)
df_st1_only['symbol'] = st1_only
df_st1_only['col'] = "#9bf6ff"
df_st1_only['Target'] = "STAT1"

#7
#columns = ["symbol", "col", "Target"]
#df_ir1_9_only = pd.DataFrame(columns=columns)
#df_ir1_9_only['symbol'] = ir1_9_only
#df_ir1_9_only['col'] = "#e5f5f9"
#df_ir1_9_only['Target'] = "IRF1 + IRF9"

#8
#columns = ["symbol", "col", "Target"]
#df_st2_only = pd.DataFrame(columns=columns)
#df_st2_only['symbol'] = st2_only
#df_st2_only['col'] = "#4eb3d3"
#df_st2_only['Target'] = "STAT2"

#9
#columns = ["symbol", "col", "Target"]
#df_st2_ir1_only = pd.DataFrame(columns=columns)
#df_st2_ir1_only['symbol'] = st2_ir1_only
#df_st2_ir1_only['col'] = "#c994c7"
#df_st2_ir1_only['Target'] = 'STAT2 + IRF1'

# Collect all #s
col_tabl = pd.concat([df_isgf3_irf1, df_s1_2_ir1_only, df_isgf3_only, df_ir1_only, df_st1_2_only_1, df_st1_only,
                     df_ir1_9_only, df_st2_only, df_st2_ir1_only], ignore_index=True)



# col_tabl.to_csv(out_dir + "col_tabl_Modf.tsv", index=False, sep="\t")

In [55]:
# Calculating sum of the elements 

dfs = [df_isgf3_irf1, df_s1_2_ir1_only, df_isgf3_only, df_ir1_only, df_st1_2_only_1, df_st1_only,
                     df_ir1_9_only, df_st2_only, df_st2_ir1_only]

con=[]
for i in dfs:
    cn = i['col'].count()
    con.append(cn)
print('Sum of the elements: ', sum(con))

for i in dfs:
    print('the size: {}'.format(i.shape[0]))

Sum of the elements:  212
the size: 80
the size: 14
the size: 9
the size: 23
the size: 34
the size: 45
the size: 1
the size: 1
the size: 5

In [56]:
# Load color table
col_tabl['Symbol'] = col_tabl['symbol'].str.strip()

col_tabl = col_tabl[['Symbol', 'col', 'Target']]

print(col_tabl.shape)
col_tabl.head(2)

(212, 3)

  Symbol      col                 Target
0  ACOT7  #ffadad  STAT1+STAT2+IRF9+IRF1
1   ACY3  #ffadad  STAT1+STAT2+IRF9+IRF1

In [57]:
# Load the latest version of motif file

dfm = pd.read_csv("motifs_IFNag_latest.tsv", sep="\t")
print(dfm.shape); print(dfm.columns)
dfm.rename(columns={'Gene':'Symbol'}, inplace=True)
dfm.head(3)

(220, 2)
Index(['Gene', 'Motif'], dtype='object')

  Symbol      Motif
0  APOL1  composite
1  ACOT7       ISRE
2    A2M        GAS

In [58]:
# Generate style table file
# Add colour
styl_tbl_a = pd.merge(dfm, col_tabl, on="Symbol", how="inner")
styl_tbl_a.shape

(212, 4)

In [59]:
styl_tbl_a[styl_tbl_a.duplicated(subset=['Symbol'])]

Empty DataFrame
Columns: [Symbol, Motif, col, Target]
Index: []

In [60]:
styl_tbl_a['Symbol'].nunique()

212

In [61]:
styl_tbl_a['Motif'].unique()

array(['composite', 'ISRE', 'GAS'], dtype=object)

In [62]:
# Add shape

styl_tbl_a.loc[styl_tbl_a['Motif'] == 'GAS', 'Shape'] = 'diamond'
styl_tbl_a.loc[styl_tbl_a['Motif'] == 'ISRE', 'Shape'] = 'ellipse'
styl_tbl_a.loc[styl_tbl_a['Motif'] == 'composite', 'Shape'] = 'rectangle'

styl_tbl_a.head(2)

  Symbol      Motif      col                 Target      Shape
0  APOL1  composite  #fdffb6                   IRF1  rectangle
1  ACOT7       ISRE  #ffadad  STAT1+STAT2+IRF9+IRF1    ellipse

In [63]:
styl_tbl_a.to_csv(out_dir + "Style_table_IFNa.tsv", sep="\t", index=False)

## IFNg

In [4]:

in_dir = 'TFs_4_Networks/'
out_dir = 'TFs_4_Networks/Cytoscape_files/'

In [5]:
# Create a dictionary

path, dirs, files = next(os.walk(in_dir))
Integ_dict_y = {}

for i, df in enumerate(files):
    if fnmatch.fnmatch(files[i], '*IFNy*'):
        Integ_dict_y[files[i].split('.')[0]] = pd.read_csv(in_dir + files[i], sep='\t', header=None, skiprows=[0])
        print('File name is: {}'.format(files[i]))
        
for key, value in Integ_dict_y.items():
    print(key)
    print(value.head(1))
    print(value.shape)

File name is: Integ_Homr_hs_HuhWT_IFNy_IRF1_allPeaksSet_nR_topScore_10_genes.tsv
File name is: Integ_Homr_hs_HuhWT_IFNy_IRF9_allPeaksSet_nR_topScore_5_genes.tsv
File name is: Integ_Homr_hs_HuhWT_IFNy_pSTAT1_allPeaksSet_nR_topScore_20_genes.tsv
Integ_Homr_hs_HuhWT_IFNy_IRF1_allPeaksSet_nR_topScore_10_genes
       0     1
0  ACOT7  ISRE
(126, 2)
Integ_Homr_hs_HuhWT_IFNy_IRF9_allPeaksSet_nR_topScore_5_genes
      0     1
0  ACY3  ISRE
(43, 2)
Integ_Homr_hs_HuhWT_IFNy_pSTAT1_allPeaksSet_nR_topScore_20_genes
     0    1
0  A2M  GAS
(137, 2)

In [6]:
# Change the name of dictionary key
Integ_dict_y['ir1_ov_y'] = Integ_dict_y.pop('Integ_Homr_hs_HuhWT_IFNy_IRF1_allPeaksSet_nR_topScore_10_genes')
Integ_dict_y['ir9_ov_y'] = Integ_dict_y.pop('Integ_Homr_hs_HuhWT_IFNy_IRF9_allPeaksSet_nR_topScore_5_genes')
Integ_dict_y['st1_ov_y'] = Integ_dict_y.pop('Integ_Homr_hs_HuhWT_IFNy_pSTAT1_allPeaksSet_nR_topScore_20_genes')


for key, value in Integ_dict_y.items():
    print(key)
    print(value.head(1))
    print(value.shape)

ir1_ov_y
       0     1
0  ACOT7  ISRE
(126, 2)
ir9_ov_y
      0     1
0  ACY3  ISRE
(43, 2)
st1_ov_y
     0    1
0  A2M  GAS
(137, 2)

# Create node files for each Ab

In [7]:
#IFNy ST1

columns = ["#node1", "node2"]
dfs1 = pd.DataFrame(columns=columns)
dfs1['node2'] = Integ_dict_y['st1_ov_y'][0]
dfs1['#node1'] = "STAT1"

# Saving Network File
dfs1.to_csv(out_dir + "IFNy_ST1_ov.tsv", sep="\t", index=False)

In [8]:
# IFNy IRF1

columns = ["#node1", "node2"]
dfir1 = pd.DataFrame(columns = columns)
dfir1['node2'] = Integ_dict_y['ir1_ov_y'][0]
dfir1['#node1'] = "IRF1"

dfir1.to_csv(out_dir + "IFNy_IRF1_ov.tsv", sep="\t", index=False)

In [9]:
# IFNy IRF9

columns = ["#node1", "node2"]
dfir9 = pd.DataFrame(columns=columns)
dfir9["node2"] = Integ_dict_y['ir9_ov_y'][0]
dfir9["#node1"] = "IRF9"

dfir9.to_csv(out_dir + "IFNy_IRF9_ov.tsv", index= False, sep="\t")

In [10]:
# To confrim
x = [dfs1, dfir1, dfir9]
for i in x:
    print(i.shape)

(137, 2)
(126, 2)
(43, 2)

## Different combinations of TFS for IFNy

In [11]:
from functools import reduce

In [12]:
# Creating dataframes
st1_ov_y = pd.DataFrame(data=Integ_dict_y['st1_ov_y'][0].values, columns=['symbol'])
ir1_ov_y = pd.DataFrame(data=Integ_dict_y['ir1_ov_y'][0].values, columns=['symbol'])
ir9_ov_y = pd.DataFrame(data=Integ_dict_y['ir9_ov_y'][0].values, columns=['symbol'])

In [13]:
# Checking
dfs = [st1_ov_y, ir1_ov_y, ir9_ov_y]
for i in dfs:
    print(i.shape)

(137, 1)
(126, 1)
(43, 1)

In [14]:
# overlapping between ST1, IRF1 and IRF9

dfs = [st1_ov_y, ir1_ov_y, ir9_ov_y]
st1_ir1_9 = reduce(lambda left,right: pd.merge(left,right, on="symbol"), dfs).reset_index(drop=True).iloc[:,0]
st1_ir1_9.shape

#isgf3_only = pd.merge(isgf3, ir1_ov_a, how="left", indicator=True).loc[lambda x:x["_merge"] == "left_only"].reset_index(drop=True).iloc[:,0]
#isgf3_only.shape

(34,)

In [15]:
# overlapping between ST1 and IRF1

dfs = [st1_ov_y, ir1_ov_y]
st1_ir1_only = reduce(lambda left,right: pd.merge(left, right, on="symbol"), dfs).reset_index(drop=True).iloc[:,0]
st1_ir1_only.shape
st1_ir1_only_only = pd.merge(st1_ir1_only, st1_ir1_9, how='left', indicator=True).loc[lambda x: x['_merge'] == "left_only"].iloc[:,0]
#st1_ir1_only = pd.merge(st1_ir1, st2_ov_a, how="left", indicator=True).loc[lambda x:x["_merge"] == "left_only"].iloc[:,0]
#st1_ir1_only.shape
st1_ir1_only_only.shape

(18,)

In [16]:
# overlapping between ST1 and IRF9

dfs = [st1_ov_y, ir9_ov_y]
st1_ir9_only = reduce(lambda left,right: pd.merge(left, right, on="symbol"), dfs).reset_index(drop=True).iloc[:,0]
st1_ir9_only.shape
st1_ir9_only_only = pd.merge(st1_ir9_only, st1_ir1_9, how='left', indicator=True).loc[lambda x: x['_merge'] == "left_only"].iloc[:,0]
#st1_ir1_only = pd.merge(st1_ir1, st2_ov_a, how="left", indicator=True).loc[lambda x:x["_merge"] == "left_only"].iloc[:,0]
#st1_ir1_only.shape
st1_ir9_only_only.shape

(2,)

In [17]:
# overlapping between IRF1 and IRF9

dfs = [ir1_ov_y, ir9_ov_y]
ir1_9 = reduce(lambda left,right: pd.merge(left, right, on="symbol"), dfs).reset_index(drop=True).iloc[:,0]
ir1_9_only = pd.merge(ir1_9, st1_ov_y, how='left', indicator=True).loc[lambda x: x['_merge'] == "left_only"].iloc[:,0]
ir1_9_only.shape

(6,)

In [18]:
st1_ir9_only_only.values

array(['IRF9', 'SERPING1'], dtype=object)

In [19]:
# Finding ST1_only genes
dfs = [ir1_ov_y, ir9_ov_y]

ir1_9 = reduce(lambda left,right: pd.merge(left,right, how="outer"), dfs)

st1_only=pd.merge(st1_ov_y, ir1_9, how="left", indicator=True).loc[lambda x: x['_merge'] == "left_only"].reset_index(drop=True).iloc[:,0]
st1_only.shape

(83,)

In [20]:
# Finding IRF1_only genes
dfs = [st1_ov_y, ir9_ov_y]
st1_ir9 = reduce(lambda left,right : pd.merge(left,right, how="outer"),dfs)

# https://stackoverflow.com/questions/48647534/python-pandas-find-difference-between-two-data-frames
ir1_only=pd.merge(ir1_ov_y, st1_ir9, how="left", indicator=True).loc[lambda x: x['_merge'] != 'both'].reset_index(drop=True).iloc[:,0]
ir1_only.shape

(68,)

In [21]:
# Finding IRF9_only genes
dfs = [st1_ov_y, ir1_ov_y]
st1_ir1 = reduce(lambda left,right : pd.merge(left,right, how="outer"),dfs)

# https://stackoverflow.com/questions/48647534/python-pandas-find-difference-between-two-data-frames
ir9_only=pd.merge(ir9_ov_y, st1_ir1, how="left", indicator=True).loc[lambda x: x['_merge'] != 'both'].reset_index(drop=True).iloc[:,0]
ir9_only.shape

(1,)

# Generating Style Table _ IFNy

In [22]:
# Preparing the colour table ***Modified version***

#1
columns = ["symbol", "col", "Target"]
df_st1_ir1_9 = pd.DataFrame(columns=columns)
df_st1_ir1_9['symbol'] = st1_ir1_9
df_st1_ir1_9['col'] = "#ffadad"
df_st1_ir1_9['Target'] = "STAT1 + IRF1 + IRF9"

#2
columns = ["symbol", "col", "Target"]
df_ir1_only = pd.DataFrame(columns=columns)
df_ir1_only['symbol'] = ir1_only
df_ir1_only['col'] = "#ffd6a5"
df_ir1_only['Target'] = "IRF1"
#3
columns = ["symbol", "col", "Target"]
df_st1_only = pd.DataFrame(columns=columns)
df_st1_only['symbol'] = st1_only
df_st1_only['col'] = "#fdffb6"
df_st1_only['Target'] = "STAT1"

#4
columns = ["symbol", "col", "Target"]
df_st1_ir1_only = pd.DataFrame(columns=columns)
df_st1_ir1_only['symbol'] = st1_ir1_only_only
df_st1_ir1_only['col'] = "#caffbf"
df_st1_ir1_only['Target'] = "STAT1 + IRF1"

#5
columns = ["symbol", "col", "Target"]
df_st1_ir9_only = pd.DataFrame(columns=columns)
df_st1_ir9_only['symbol'] = st1_ir9_only_only
df_st1_ir9_only['col'] = "#9bf6ff"
df_st1_ir9_only['Target'] = "STAT1 + IRF9"

#6 We are Not interested in this group!!
#columns = ["symbol", "col", "Target"]
#df_ir9_only = pd.DataFrame(columns=columns)
#df_ir9_only['symbol'] = ir9_only
#df_ir9_only['col'] = "#e5f5f9"
#df_ir9_only['Target'] = "IRF9"

#7
columns = ["symbol", "col", "Target"]
df_ir1_9_only = pd.DataFrame(columns=columns)
df_ir1_9_only['symbol'] = ir1_9_only
df_ir1_9_only['col'] = "#66c2a4"
df_ir1_9_only['Target'] = "IRF1 + IRF9"


# Collect all #s
col_tabl = pd.concat([df_st1_ir1_9, df_ir1_only, df_st1_only, df_st1_ir1_only, df_st1_ir9_only, df_ir1_9_only ], ignore_index=True)



#col_tabl.to_csv("col_tabl_INFy_Modf.tsv", index=False, sep="\t")

In [23]:
col_tabl['col'].unique()

array(['#ffadad', '#ffd6a5', '#fdffb6', '#caffbf', '#9bf6ff', '#66c2a4'],
      dtype=object)

In [24]:
col_tabl.columns

Index(['symbol', 'col', 'Target'], dtype='object')

In [67]:
# Calculating sum of the elements 

df = [df_st1_ir1_9, df_ir1_only, df_st1_only, df_st1_ir1_only]

con=[]
for i in df:
    cn = i['col'].count()
    con.append(cn)
print('Sum of the elements: ', sum(con))

Sum of the elements:  203

In [25]:
# Load colur table
col_tabl['Symbol'] = col_tabl['symbol'].str.strip()

col_tabl = col_tabl[['Symbol', 'col', 'Target']]

print(col_tabl.shape)
col_tabl.head(2)

(211, 3)

  Symbol      col               Target
0   ADAR  #ffadad  STAT1 + IRF1 + IRF9
1  APOL2  #ffadad  STAT1 + IRF1 + IRF9

In [26]:
# Load the latest version of motif file

dfm = pd.read_csv("motifs_IFNag_latest.tsv", sep="\t")
print(dfm.shape); print(dfm.columns)
dfm.rename(columns={'Gene':'Symbol'}, inplace=True)
dfm.head(3)

(220, 2)
Index(['Gene', 'Motif'], dtype='object')

  Symbol      Motif
0  APOL1  composite
1  ACOT7       ISRE
2    A2M        GAS

In [28]:
# Generate style table file
# Add colour

styl_tbl_y = pd.merge(dfm, col_tabl, on="Symbol", how="inner")
styl_tbl_y.shape

(211, 4)

In [29]:
styl_tbl_y[styl_tbl_y.duplicated(subset=['Symbol'])]

Empty DataFrame
Columns: [Symbol, Motif, col, Target]
Index: []

In [30]:
styl_tbl_y['Symbol'].nunique()

211

In [31]:
styl_tbl_y['Motif'].unique()

array(['composite', 'ISRE', 'GAS'], dtype=object)

In [32]:
# Add shape

styl_tbl_y.loc[styl_tbl_y['Motif'] == 'GAS', 'Shape'] = 'diamond'
styl_tbl_y.loc[styl_tbl_y['Motif'] == 'ISRE', 'Shape'] = 'ellipse'
styl_tbl_y.loc[styl_tbl_y['Motif'] == 'composite', 'Shape'] = 'rectangle'

styl_tbl_y.head(2)

  Symbol      Motif      col        Target      Shape
0  APOL1  composite  #caffbf  STAT1 + IRF1  rectangle
1  ACOT7       ISRE  #ffd6a5          IRF1    ellipse

In [33]:
styl_tbl_y.to_csv(out_dir + "Style_table_IFNy_rev1.tsv", sep="\t", index=False)

In [50]:
styl_tbl_a.shape

NameError: name 'styl_tbl_a' is not defined

In [51]:
styl_tbl_y.shape

(212, 4)

In [68]:
styl_tbl = pd.concat([styl_tbl_a, styl_tbl_y], ignore_index=True)
styl_tbl.shape

(394, 4)

In [69]:
styl_tbl[styl_tbl.duplicated(subset=['Symbol'])].count()

Symbol    181
Motif     181
col       181
Shape     181
dtype: int64

In [165]:
styl_tbl.to_csv(out_dir + 'Style_table.tsv', sep='\t', index=False)

# Task: Enrichment analysis

In [ ]:
g = pd.read_csv("overlap_IFNa_y/jVenn_IFNa_IFNy_GAS.csv")
c = pd.read_csv("overlap_IFNa_y/jVenn_IFNa_IFNy_composite.csv")
i = pd.read_csv("overlap_IFNa_y/jVenn_IFNa_IFNy_ISRE.csv")
g.head(3)

In [ ]:
# Finding overlapping elements between two columns
# https://stackoverflow.com/questions/18079563/finding-the-intersection-between-two-series-in-pandas

s1 = pd.Series(g['IFNa_GAS']).dropna()
s2 = pd.Series(g['IFNy_GAS']).dropna()
pd.Series(np.intersect1d(s1,s2))

In [ ]:
# saving
g['IFNa_GAS|IFNy_GAS'].to_csv("overlap_IFNa_y/GAS.txt", sep="\t", index=False, header=None)
c['IFNa_comp|IFNy_comp'].to_csv("overlap_IFNa_y/Comp.txt", sep="\t", index=False, header=None)
i['IFNa_ISRE|IFNy_ISRE'].to_csv("overlap_IFNa_y/ISRE.txt", sep="\t", index=False, header=None)